<!doctype html>
<html>
  <head>
    <title>Hello world</title>
  </head>
  <body>
    <h1>Hello, world</h1>

    <ul>
    <% ENV.each do |key, value| %>
      <li><%= key %>: <code><%= value %></code></li>
    <% end %>
    </ul>
  </body>
</html>
