name: Build image

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    name: Build image
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Build Image
        id: build-image
        uses: redhat-actions/buildah-build@v2
        with:
          image: sample-app-env
          tags: latest ${{ github.sha }}
          containerfiles: |
            ./Containerfile
