name: Build image

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    name: Build image
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5

      - name: Build Image
        id: build-image
        uses: redhat-actions/buildah-build@v2
        with:
          image: sample-app-env
          tags: latest ${{ github.sha }}
          containerfiles: |
            ./Containerfile
